.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 40rem;
  @media screen and (max-width: 700px) {
    width: 85%;
  }

  &__pageviews {
    color: $grayish-blue;
    font-weight: 800;
    letter-spacing: 0.1rem;
    padding: 1rem;
    margin: 1rem auto;
    text-transform: uppercase;
  }

  &__per-month {
    color: $grayish-blue;
    span {
      color: $dark-desaturated-blue;
      font-size: 2.5rem;
      font-weight: 800;
    }
  }

  &__billing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    margin-right: 0;
    color: $grayish-blue;
    font-size: 0.9rem;

    p {
      margin: 0.5rem;
    }
  }

  &__discount {
    background-color: $light-grayish-red;
    color: $light-red;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    span {
      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }

  &__footer {
    border-top: 0.1rem solid $light-grayish-blue;
    padding: 2rem;
    color: $grayish-blue;
    font-size: 15px;
    @media screen and (min-width: 700px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__features {
    @media screen and (min-width: 700px) {
      text-align: left;
    }
    p {
      margin-bottom: 0.7rem;
      span {
        margin-right: 1rem;
      }
    }
  }

  &__btn {
    margin-top: 1.5rem;
    border: none;
    background-color: $dark-desaturated-blue;
    color: $pale-blue;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.2rem 3rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: white;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 1.5rem 0.5rem $pale-blue;
    }
    @media screen and (min-width: 700px) {
      margin: auto 2rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .card__pricing {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    justify-content: center;
    align-items: center;
  }
  .card__pageviews {
    margin-right: 10rem;
  }
  .card__range {
    width: 100%;
    order: 3;
  }
  .card__per-month {
    margin-right: 10rem;
    order: 2;
    margin: 2rem;
  }
}
