// based on https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

.card__range {
  width: 90%;
  margin: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
  -webkit-appearance: none;
  background: transparent;
  height: 0.7rem;
  background: linear-gradient(
    to right,
    $strong-cyan 0%,
    $strong-cyan 50%,
    $soft-cyan 50%,
    $soft-cyan 100%
  );
  border-radius: 0.5rem;
  transition: all 0.3s;

  &:focus {
    outline: none;
    box-shadow: 0 0 1rem 0.25rem $pale-blue;
  }

  //styling thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $strong-cyan;
    &:hover,
    &:active {
      background-color: $grayish-blue;
    }
    background-image: url("/images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
    // margin-top: -0rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.5rem 2.5rem hsla(225, 20%, 60%, 30%);
  }

  &::-moz-range-thumb {
    background-color: $strong-cyan;
    &:hover,
    &:active {
      background-color: $grayish-blue;
    }
    background-image: url("/images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
    // margin-top: -1rem;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.5rem 2.5rem hsla(225, 20%, 60%, 30%);
  }

  &::-ms-thumb {
    background-color: $strong-cyan;
    background-image: url("/images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
    // margin-top: -1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.5rem 2.5rem hsla(225, 20%, 60%, 30%);
  }

  //styling track
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    // height: 0.7rem;
    // background: $soft-cyan;
    // border-radius: 0.5rem;
  }

  // ::-webkit-progress-value {
  //   background-color: orange;
  // }

  // &:focus::-webkit-slider-runnable-track {
  //   background: $soft-cyan;
  // }

  &::-moz-range-track {
    width: 100%;
    height: 0.7rem;
    cursor: pointer;
    background: $soft-cyan;
    border-radius: 0.5rem;
  }

  &::-moz-range-progress {
    width: 100%;
    height: 0.8rem;
    cursor: pointer;
    background: $strong-cyan;
    border-radius: 0.5rem;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-track {
    width: 100%;
    height: 0.7rem;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  &::-ms-fill-lower {
    background: $strong-cyan;
    border-radius: 0.5rem;
  }
  &:focus::-ms-fill-lower {
    background: $soft-cyan;
  }
  &::-ms-fill-upper {
    background: $soft-cyan;
    border-radius: 0.5rem;
  }
  &:focus::-ms-fill-upper {
    background: $soft-cyan;
  }
}
